html {
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f9fafc;
    margin: 20px;
    padding: 0;
}
header h1 {
    font-size: 1em;
}
nav ul {
    list-style: none;
    padding-inline-start: 0px;
}
nav ul li {
    padding-bottom: 10px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: #69696a;
    font-size: 1em;
    transition: 0.2s;
}
nav .button {
    display: block;
    background-color: #000;
    color: #FFF;
    border-radius: 25px;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    transition: 0.2s;
}
.body-logo {
    font-size: 2em;
}
main p {
    border-left: 5px solid #69696a;
    color: #69696a;
    padding: 0 15px;
    border-radius: 4px;
    font-size: 0.8em;
}
#button {
    display: block;
    width: 100%;
    background-color: #000;
    color: #FFF;
    padding: 10px;
    border-radius: 25px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    transition: 0.2s;
}
nav ul li a:hover {
    color: salmon;
    transition: 0.2s;
}
button:hover {
    color: salmon;
    transition: 0.2s;
}
.circle-group {
    display: none;
}
@media screen and (min-width: 768px) {
    body {
        /* border: 2px solid black; */
    }
    header {
        display: flex;
    }
    header h1 {
        padding: 5px;
    }
    nav {
        flex-grow: 1;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav ul li a {
        margin-left: 10px;
        padding: 5px;
    }
    nav .button {
        margin-left: 10px;
        padding: 5px 10px;
    }
    .body-logo {
        padding-top: 60px;
    }
    main {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 50%;
    }
    main p {
        width: 50%;
        font-size: 1em;
    }
    #button {
        position: absolute;
        bottom: 0;
        right: 50%;
        padding: 5px 10px;
        width: inherit;
    }
    .circle-group {
        display: flex;
        position: fixed;
        left: 1079px;
        top: 218px;
    }
    .circle1 {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: rgba(247, 136, 167, 0.6);
        position: relative;
        
    }
    .circle2 {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        background-color: rgba(247, 193, 162, 0.7);
        position: relative;
        top: 115px;
        right: 72px;

    }
    .circle3 {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: rgba(207, 130, 213, 0.6);
        position: relative;
        right: 202px;
        top: 22px;
    }




}